*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.info{
    height: 40px;
    background-color: #2C3E50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info i{
    font-size: 20px;
    margin-right: 5px;
}
.info :nth-child(1){
    display:flex ;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}
.info :nth-child(2){
    display:flex ;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.info :nth-child(3){
    display:flex ;
    margin-right: 50px;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo img {
    display: block;
    height: 130px;
    width: 310px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
}

nav .logo{
    display: block;
    height: 230px;
    width: 340px;
    position: relative;
    padding-top: 20px;
    margin-left: -100px;
}

nav .container{
    display: flex;
}

nav .container form {
    height: 40px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

}
nav .container form #search{
    height: 40px;
    width: 450px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgba(130, 125, 125, 0.652);
}
nav .container #submit{
display: none;
}
nav .container form label{
display: flex;
width: 50px;
align-items: center;
justify-content: center;
height: 40px;
width: 0 10px;
background-color: #2C3E50;
display: block;
position: relative;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
nav .container form label i {
font-size: 30px;
position: absolute;
top: 50%;
transform: translate(-50%,-50%);
left: 50%;
color: white;
}

nav .box {
height: 50px;
width: 200px;
display: flex;
align-items: center;
justify-content: space-around;
margin-right: 150px;
}

nav .box button {
padding: 10px 20px;
font-size: 16px;
font-weight: 600;
text-transform: capitalize;
border:none ;
border-radius: 5px;
display: block;
margin: 0 10px;
background-color: #95A5A6;
color: white;
cursor: pointer;
transition: all 0.5s ease-in-out;
}
nav .box button:hover{
    background-color: #2C3E50;
}
nav .box a{
    text-decoration: none;
}
nav .box :nth-child(3) button {
background-color: #C0392B;
}
nav .box :nth-child(3) button:hover{
    background-color: #000000;
}

nav .box1{
display: flex;
align-items: center;
justify-content: center;
margin-left: 20px;
}
nav .box1 span{
height: 40px;
width: 40px;
position: relative;
}
nav .box1 span i{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 30px;
}










.section1{
background-color: #2C3E50;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}

.section1 a {
text-decoration: none;
font-size: 13px;
color: white;
display: block;
margin-left: 20px;
text-transform: capitalize;
font-family: 'Poppins', sans-serif;
}

.section1 div span i{
font-size: 35px;
color: white;
}











.section2{
margin: 50px 0;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.section2 .formulaire1{
display: flex;
align-items: center;
justify-content: center;
}
.section2 .formulaire1 img {
height: 400px;
width: 600px;
}
.section2 .formulaire1 form{
height: auto;
width: 500px;
display: flex;
flex-direction: column;
padding: 50px 70px ;
background-color: #4b484823;
backdrop-filter: blur(2px);
border-radius: 15px;
font-family: 'Poppins', sans-serif;
}

.section2 .formulaire1 form .erreur{
    padding: 7px 10px;
    background-color: red;
    color: #ffff;
    font-size: 18px;
}
/* .section2 .formulaire1 form :nth-child(2) {
display: block;
} */
.section2 .formulaire1 form .box2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.section2 .formulaire1 form .box2 #phone{
    padding: 0 60px;
}


.section2 .formulaire1 form .box1 input {
margin-top: 6px;
margin-bottom: 20px;
width: 100%;
height: 40px;
border-radius: 10px;
padding: 5px 10px;
border: none;
outline: none;
transition: all 0.5s ease ;
font-size: 18px;
}

.section2 .formulaire1 form .box1 label img{
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.section2 .formulaire1 form .box1 p{
    margin-bottom: 10px;
}

.section2 .formulaire1 form .box1 #image{
    display: none;
}
.section2 .formulaire1 form .box1 #imagePreview{
    height: 80px;
    width: auto;
    cursor: pointer;
    object-fit: cover;
    margin-left: 40px;
}
.section2 .formulaire1 form .box1 input:focus{
border: 2px solid rgba(0, 51, 255, 0.766);
}

.section2 .formulaire1 form h3 {
margin-bottom: 30px;
font-size: 30px;
}

.section2 .formulaire1 form #valider {
width: 110px;
height: 40px;
background-color: #2980B9;
border: none;
font-size: 18px;
border-radius: 10px;
color: white;
text-transform: capitalize;
letter-spacing: 3px;
cursor: pointer;
}

footer{
height: 74px;
background-color: #2C3E50;
display: flex;
align-items: center;
justify-content: center;
}
footer span{
color: white;
font-size: 15px;
font-weight: lighter;
font-style: italic;
font-family: 'Poppins', sans-serif;
}